.normaaleDiv, .mob_s, .mob_m, .mob_l, .tablet, .laptop_1, .laptop_2, .hd4k {
    width: 10vw;
    height: 10vw;
    background-color: black;
}
.mob_s {
    background-color: red;
}
.mob_m {
    background-color: green;
}
.mob_l {
    background-color: blue;
}
.tablet {
    background-color: aquamarine;
}
.laptop_1 {
    background-color: blueviolet;
}
.laptop_2 {
    background-color: brown;
}
.hd4k {
    background-color: darkgreen;
}